*{
	font-family: sans-serif;
	/*outline: 1px solid black;*/
	padding: 0;
	margin: 0;

}
a{
	text-decoration: none;
}

header{
	
}

nav{
	display: flex;
	color: dodgerblue;
	justify-content: space-between;
	box-shadow: 5px 5px 5px black;
	z-index: 2;
	padding: 2%;

}


.nav-bar a{
	color: dodgerblue;
}
.nav-bar{
	list-style: none;

}
.nav-bar-item{
	display: inline;
	padding: 20px
}

.form{
	
	width: 80%;
	margin:auto;
}
.myfield{
	padding: 20px;
	border:none;
	border-bottom: 1px solid dodgerblue;
	width:100%;

}

.mybtn{
	border:none;
	padding: 20px;
	background-color: dodgerblue;
	cursor: pointer;
	outline: none;
	color: white;
	border-radius: 30px;
	margin-top: 30px;
}

.results{
 display: flex;
 width: 80%;
 margin: auto;
 flex-wrap: wrap;
}

.result{
	width: 200px;
	margin-left: 20px;
	padding: 20px;
	
}